In [4]:
from socketserver import ForkingMixIn


def to_lowercase(text):
    return text.lower()
example_text = "THIS IS A TEST TEXT"
cleaned_text = to_lowercase(example_text)
print("original", example_text)
print("cleaned", cleaned_text)

original THIS IS A TEST TEXT
cleaned this is a test text

In [6]:
def to_uppercase(text):
    return text.upper()
example_text = "this is text"

cleaned_text = to_uppercase(example_text)
print("original", example_text)
print("cleaned", cleaned_text)

original this is text
cleaned THIS IS TEXT

In [60]:
import pandas as pd
file_path = r'C:\Users\Shashank Shukla\sentiment_analysis\data\IMDB Dataset.csv\IMDB Dataset.csv'
df = pd.read_csv(file_path)
print("data frame loaded")

data frame loaded

In [61]:
df['review'] = df['review'].apply(to_lowercase)
print("dataframe after lowercase")
df.head()

dataframe after lowercase

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [62]:
#remove unnecessary tags and symbole from data
import re #re module libraray to workwith regular symbole
def remove_html_tags(text):
    pattern = re.compile('<.*?.>')
    return pattern.sub('', text)
example_text_html = "this was an <i>amazing</i> movie. i loved it! <br /><br />totally <b>worth</b> watching."
cleaned_text = remove_html_tags(example_text_html)
print("original", example_text_html)
print("cleaned", cleaned_text)

original this was an <i>amazing</i> movie. i loved it! <br /><br />totally <b>worth</b> watching.
cleaned this was an amazing movie. i loved it! totally worth watching.

In [63]:
df['review'] = df['review'].apply(remove_html_tags)
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

REMOVE PUNTUATION

In [64]:
#remove puntuations ,.":"? etc
import re
def remove_puntuation(text):
    return re.sub(r'[^a-z0-9\s]', ' ', text).strip()# This function uses a regular expression to find and remove any character that is not a lowercase letter (a-z), a digit (0-9), or a whitespace character.
example_text = "wow... this movie was *amazing*! (10/10). i'd say it's a 'must-see'."
cleaned_text = remove_puntuations(example_text)
print("original", example_text)
print("cleaned", cleaned_text)

original wow... this movie was *amazing*! (10/10). i'd say it's a 'must-see'.
cleaned wow this movie was amazing 1010 id say its a mustsee

In [65]:
df['review'] = df['review'].apply(remove_puntuation)
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production  the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there s a family where a little boy ...  negative
4  petter mattei s  love in the time of money  is...  positive

REMOVE HELPING VERBS AND GRAMMER

In [66]:
#Think about words like: a, the, is, in, on, of, and, i, me, you, he, she, it.
#we will use Natural Language toolkit NLTk
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Shashank
[nltk_data]     Shukla\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [67]:
#we will use set instead of list for all words as time complexity of set is O(1) and list is O(n)
#by default stopword return list so we will convert that into set
from nltk.corpus import stopwords
english_stopword_list = stopwords.words('english')
print("-------First 10 stopwords from NLt liist---------")
print(english_stopword_list[:10])
print("\n"+"="*50+"\n")

-------First 10 stopwords from NLt liist---------
['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an']

==================================================

In [68]:
#convert list into set
stop_words_set = set(english_stopword_list)
print(f"we have successfully loaded {len(stop_words_set)} stopwords into highly efficient set")
print(stop_words_set)

we have successfully loaded 198 stopwords into highly efficient set
{'ma', 'above', 'by', 'can', 'was', "weren't", 'further', 'and', 'such', 'not', 'off', "hasn't", "you're", "i'd", "shan't", 'between', 'o', "she's", "should've", 'does', "she'll", 'under', 'haven', 'other', 'her', 'these', "it'll", 'when', 'your', 'yourselves', 'as', 'mustn', "you'll", "we'll", "that'll", "doesn't", 'it', "we'd", 'we', 'hers', 'himself', "we've", 'couldn', 'this', 'didn', "don't", 'any', "he's", 'with', 'been', 'having', 'through', "she'd", 'our', 'aren', 'am', 'against', 'because', 'some', "needn't", 'd', "they've", "they'll", 'now', 'over', 'herself', 'm', 'or', 'each', 'myself', "didn't", 'nor', "i'll", 'all', 'if', 're', 'are', 'below', 'me', 'out', 'an', 'ours', 'very', 'he', 'until', 'only', "hadn't", 'both', 'isn', 'needn', "it's", 'the', "mustn't", 'same', 'here', 'yourself', "wasn't", 'on', 'him', 'of', 'then', "mightn't", "i've", 'mightn', "they're", 'has', 'their', 'so', 'hadn', "it'd", 'own', "shouldn't", "wouldn't", 't', 'up', 'shan', 'ourselves', 'will', "you've", 'but', 'most', 'yours', "he'd", 'who', 'you', 'for', 'which', 'at', 'don', 'my', 'were', 'won', 'how', 'just', 'hasn', 'them', "couldn't", 'wouldn', 'again', 'they', 'theirs', 'down', 'while', 'll', 'whom', 'that', "aren't", 'themselves', 'what', 'should', "they'd", 'before', 'more', 'than', 'too', 'doesn', 'from', 'his', "i'm", 'be', "haven't", 'into', "you'd", 'weren', 'its', "he'll", "we're", 'she', 'why', 'do', 'shouldn', 'did', 'in', 'itself', "won't", 'no', 'y', 'once', 'there', 'during', "isn't", 'to', 's', 'being', 'after', 'ain', 'about', 'doing', 'where', 'those', 'had', 'is', 'have', 've', 'wasn', 'a', 'few', 'i'}

Create a Function to Tokenize Text and Remove Stopwords

In [69]:
def tokenization_and_stopwords_remove(text):
    token = text.split()
    cleaned_token = [token for token in token if token not in stop_words_set]
    return cleaned_token
example_text = "this movie is just a brilliant and beautiful production"
cleaned_text = tokenization_and_stopwords_remove(example_text)
print("original", example_text)
print("cleaned", cleaned_text)

original this movie is just a brilliant and beautiful production
cleaned ['movie', 'brilliant', 'beautiful', 'production']

In [70]:
df['review'] = df['review'].apply(tokenization_and_stopwords_remove)
df.head()

                                              review sentiment
0  [one, reviewers, mentioned, watching, 1, oz, e...  positive
1  [wonderful, little, production, filming, techn...  positive
2  [thought, wonderful, way, spend, time, hot, su...  positive
3  [basically, family, little, boy, jake, thinks,...  negative
4  [petter, mattei, love, time, money, visually, ...  positive

LEMMANTIZATION TO TURN WORD TO BACIS FORM

In [71]:
#movies -> movierunning, ran, runs -> run
#Download NLTK WordNet Package for Lemmatization
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Shashank
[nltk_data]     Shukla\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [72]:
#create a funtion to lemmanate and apply to review
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemmatize_tokens(tokens):
    lemmatize_tokens = [lemmatizer.lemmatize(tokens) for tokens in tokens]
    return lemmatize_tokens
example_text = "this movie is just a brilliant and beautiful production"
example_text_01 = tokenization_and_stopwords_remove(example_text)
cleaned_text = lemmatize_tokens(example_text_01)
print("original", example_text)
print("cleaned", cleaned_text)

original this movie is just a brilliant and beautiful production
cleaned ['movie', 'brilliant', 'beautiful', 'production']

In [73]:
df.head()

                                              review sentiment
0  [one, reviewers, mentioned, watching, 1, oz, e...  positive
1  [wonderful, little, production, filming, techn...  positive
2  [thought, wonderful, way, spend, time, hot, su...  positive
3  [basically, family, little, boy, jake, thinks,...  negative
4  [petter, mattei, love, time, money, visually, ...  positive

In [74]:
df['review'] = df['review'].apply(lemmatize_tokens)
df.head()

                                              review sentiment
0  [one, reviewer, mentioned, watching, 1, oz, ep...  positive
1  [wonderful, little, production, filming, techn...  positive
2  [thought, wonderful, way, spend, time, hot, su...  positive
3  [basically, family, little, boy, jake, think, ...  negative
4  [petter, mattei, love, time, money, visually, ...  positive

REtokenization REVIEW INTO SINGLE STRING

In [75]:
#we have to retokenization as Scikit-learn uses a single string input so after stopwords removed and lemmantization we have to retokenization using str.join()
tokens = ['this', 'is', 'a', 'brilliant', 'movie']
separator = " "
rejoined_string = separator.join(tokens)
print("original", rejoined_string)

original this is a brilliant movie

In [76]:
def join_tokens(tokens):
    return ' '.join(tokens)
example_lemmatized_tokens = ['movie', 'brilliant', 'beautiful', 'production', 'character', 'scene']
rejoined_text = join_tokens(example_lemmatized_tokens)

print("Original list of tokens:", example_lemmatized_tokens)
print("Rejoined string:", rejoined_text)

Original list of tokens: ['movie', 'brilliant', 'beautiful', 'production', 'character', 'scene']
Rejoined string: movie brilliant beautiful production character scene

In [77]:
df['review'] = df['review'].apply(join_tokens)
df.head()

                                              review sentiment
0  one reviewer mentioned watching 1 oz episode h...  positive
1  wonderful little production filming technique ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically family little boy jake think zombie ...  negative
4  petter mattei love time money visually stunnin...  positive

In [78]:
df['review'] = df['review'].apply(tokenization_and_stopwords_remove)
df.head()

                                              review sentiment
0  [one, reviewer, mentioned, watching, 1, oz, ep...  positive
1  [wonderful, little, production, filming, techn...  positive
2  [thought, wonderful, way, spend, time, hot, su...  positive
3  [basically, family, little, boy, jake, think, ...  negative
4  [petter, mattei, love, time, money, visually, ...  positive

In [79]:
#create a new column
df['cleaned_review'] = df['review'].apply(join_tokens)

df[['review','cleaned_review','sentiment']].head()

,review,cleaned_review,sentiment
0,"[one, reviewer, mentioned, watching, 1, oz, ep...",one reviewer mentioned watching 1 oz episode h...,positive
1,"[wonderful, little, production, filming, techn...",wonderful little production filming technique ...,positive
2,"[thought, wonderful, way, spend, time, hot, su...",thought wonderful way spend time hot summer we...,positive
3,"[basically, family, little, boy, jake, think, ...",basically family little boy jake think zombie ...,negative
4,"[petter, mattei, love, time, money, visually, ...",petter mattei love time money visually stunnin...,positive